{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "printWidth": 150,
  "plugins": ["prettier-plugin-tailwindcss"]
}
